html { position: relative; min-height: 100%; }
body { margin-bottom: 60px; background-color: #1e1e1e; }
.footer { position: absolute; bottom: 0; width: 100%; white-space: nowrap; height: 60px; line-height: 60px; }
a, a:visited { color: #fff; }
a:hover { color: #fff; }
.campoMed { max-width: 500px; }
.campoMin { max-width: 200px; }
.areaUtilMed { max-width: 500px; overflow: hidden; }
.areaUtilGrd { max-width: 900px; overflow: hidden; }
.iconeGrd { font-size: 64px; }
.iconeMed { font-size: 32px; padding: 6px; }
.botaoGrade { width: 120px; height: 120px; margin: 5px; float: left; }
.fonteMedia { font-size: 32px; color: #fff; }
.iconeMsg { font-size: 48px; color: red; }
.txtCampoTitulo { font-size: 20px; color: #fff; }
.txtPadrao { font-size: 16px; color: #d0d0d0; }
input[type="text"]:disabled { background-color : #aaa; color : #000; }
input[type="text"] { color : #000; }
.rodape { border-top: #606060 1px solid; }
