@{
    ViewData["Title"] = "";
}

<div class="areaUtilGrd">
    <div class="txtPadraoGrd"><i class="iconeMed fas fa-ring"></i>&nbsp;
        Estado Civil
    </div>
    <br>
    <a asp-controller="EstadoCivil" asp-action="Form"><button class="btn btn-info botaoGrade"><i class="fas fa-plus iconeMed"></i><br>Novo</button></a>
    <a asp-controller="EstadoCivil" asp-action="Filtro"><button class="btn btn-info botaoGrade"><i class="fas fa-search iconeMed"></i><br>Consulta</button></a>
    <a asp-controller="EstadoCivil" asp-action="Lista"><button class="btn btn-info botaoGrade"><i class="fas fa-list iconeMed"></i><br>Lista</button></a>
    <a asp-controller="Dominios" asp-action="Lista"><button class="btn btn-secondary botaoGrade"><i class="fas fa-arrow-circle-left iconeMed"></i><br>Voltar</button></a>
</div>
