@{
    ViewData["Title"] = "";
}

<div class="areaUtilGrd">
    <div class="txtPadraoGrd"><i class="iconeMed fas fa-object-group"></i>&nbsp;
        Domínios
    </div>
    <br>
    <a asp-controller="ContaBancaria" asp-action="Index"><button class="btn btn-info botaoGrade"><i class="fas fa-money-check-alt iconeMed"></i><br>Conta Bancária</button></a>
    <a asp-controller="Cor" asp-action="Index"><button class="btn btn-info botaoGrade"><i class="fas fa-palette iconeMed"></i><br>Cor</button></a>
    <a asp-controller="EnderecoTipo" asp-action="Index"><button class="btn btn-info botaoGrade"><i class="fas fa-map-marked-alt iconeMed"></i><br>Endereço</button></a>
    <a asp-controller="EstadoCivil" asp-action="Index"><button class="btn btn-info botaoGrade"><i class="fas fa-ring iconeMed"></i><br>Estado Civil</button></a>
    <a asp-controller="GeneroSocial" asp-action="Index"><button class="btn btn-info botaoGrade"><i class="fas fa-transgender-alt iconeMed"></i><br>Gênero Social</button></a>
    <a asp-controller="PessoaTipo" asp-action="Index"><button class="btn btn-info botaoGrade"><i class="fas fa-users iconeMed"></i><br>Pessoa</button></a>
    <a asp-controller="Profissao" asp-action="Index"><button class="btn btn-info botaoGrade"><i class="fas fa-user-tie iconeMed"></i><br>Profissão</button></a>
    <a asp-controller="Sexo" asp-action="Index"><button class="btn btn-info botaoGrade"><i class="fas fa-venus-mars iconeMed"></i><br>Sexo</button></a>
    <a asp-controller="TelefoneTipo" asp-action="Index"><button class="btn btn-info botaoGrade"><i class="fas fa-phone iconeMed"></i><br>Telefone</button></a>
    <a asp-controller="UsuarioTipo" asp-action="Index"><button class="btn btn-info botaoGrade"><i class="fas fa-user-circle iconeMed"></i><br>Usuário</button></a>
    <a asp-controller="Dominios" asp-action="Sair"><button class="btn btn-secondary botaoGrade"><i class="fas fa-sign-out-alt iconeMed"></i><br>Sair</button></a>
</div>
<br>
