@{
    ViewData["Title"] = "";
}

<br>
<div class="areaUtilGrd">
    <a href="/ContaBancariaTipo"><button class="btn btn-info botaoGrade"><i class="fas fa-money-check-alt iconeMed"></i><br>Conta Bancária</button></a>
    <a href="/Cor"><button class="btn btn-info botaoGrade"><i class="fas fa-palette iconeMed"></i><br>Cor</button></a>
    <a href="/EnderecoTipo"><button class="btn btn-info botaoGrade"><i class="fas fa-map-marked-alt iconeMed"></i><br>Endereço</button></a>
    <a href="/EstadoCivil"><button class="btn btn-info botaoGrade"><i class="fas fa-ring iconeMed"></i><br>Estado Civil</button></a>
    <a href="/PessoaTipo"><button class="btn btn-info botaoGrade"><i class="fas fa-users iconeMed"></i><br>Pessoa</button></a>
    <a href="/Profissao"><button class="btn btn-info botaoGrade"><i class="fas fa-user-tie iconeMed"></i><br>Profissão</button></a>
    <a href="/Sexo"><button class="btn btn-info botaoGrade"><i class="fas fa-venus-mars iconeMed"></i><br>Sexo</button></a>
    <a href="/TelefoneTipo"><button class="btn btn-info botaoGrade"><i class="fas fa-phone iconeMed"></i><br>Telefone</button></a>
    <a href="/UsuarioTipo"><button class="btn btn-info botaoGrade"><i class="fas fa-user-circle iconeMed"></i><br>Usuário</button></a>
</div>
<br>
